doctype html
html(lang="en")
head
  title New Book
  link(rel='stylesheet' href='/style.css', type='text/css' )
h1 New Book
form(actio='/add' method='post')
  h2#oops.error Oooops!
  ul#all.error
    li#writer Author is required
    li#name Name is required
  p
    label(for='title') Title
    input#title(name='title' type='text' required)
  p
    label(for='author') Author
    input#author(name='author' type='text')
  p
    label(for='genre') Genre
    input#genre(name='genre' type='text')
  p
    label(for='year') Year
    input#year(name='year' type='text')
  p
    input.button(type='submit' value='Create New Book' onclick=console) 
  p
    a.button(href='/' onclick=console) Cancel
