doctype html
html(lang="en")
head
  title New Book
  link(rel='stylesheet' href='/style.css', type='text/css' )
h1 New Book
form(actio='/add' method='post')
  p
    label(for='title') Title
    input#title(name='title' type='text' required)
  p
    label(for='author') Author
    input#author(name='author' type='text' required)
  p
    label(for='genre') Genre
    input#genre(name='genre' type='text' required)
  p
    label(for='year') Year
    input#year(name='year' type='text' required)
  p
    input.button(type='submit' value='Create New Book') 
  p
    a.button(href='all_books.html') Cancel
